<div class="top-menu">
    <div class="container">
        <div class="top-menu-left">
            <span><mat-icon>phone</mat-icon>+569 23232323</span>
            <span><mat-icon>email</mat-icon>ecoviron.net</span>
            <span><mat-icon>access_time</mat-icon>Ma - 19:15 a 10:15</span>
        </div>
        <div class="top-menu-right">
            <a href="#"><mat-icon>facebook</mat-icon></a>
            <a href="#"><mat-icon>radio</mat-icon></a>
            <a href="#"><mat-icon>linkedin</mat-icon></a>
            <a href="#"><mat-icon>whatshot</mat-icon></a>
        </div>
    </div>
</div>